html, body {
  height: 100%;
  width: 100%;
  text-align: center;
} 
h1 {
  margin-left: auto;
  margin-right: auto;
}

.tile-style {
  display: inline-flex;
  width: 100px;
  height: 100px;
  border: 4px solid darkgray;
  margin: 2px;
  background-color: yellow;
  display: flex;
  font-size: 60px;
  justify-content: center;
  line-height: 100px;

}
.tile-break {
  display: inline-block

}

#board {
  width:  350px;
  height: 350px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; 
}

.winner {
color: green;
}

.winnerText {
  opacity: 1;
}


