html, body {
  height: 100%;
  width: 100%;
} 
h1 {
  margin-left: auto;
  margin-right: auto;
}

.tile-style {
  display: inline-flex;
  width: 100px;
  height: 100px;
  background-color: yellow;

}
.tile-break {
  display: inline-block
}

#board {
  width:  300px;
  height: 300px;
}

.winner {
color: green;
}

.winnerText {
  opacity: 1;
}


